<div class="row" style="margin-top: 100px">
    <div class="col-md-3 col-md-offset-4">
      <%= form_tag search_domains_path, style:"display:inline-block", method: :get, role: "search" do %>
              <p>
            <%= text_field_tag :search, params[:search], options = {:placeholder => "Domain Adı Giriniz" } %>
            <%= submit_tag "Ara", name: nil, class: "btn btn-primary" %>
          </p>

          <% end %>
    </div>
    <div class="col-md-2">
      <div> <%= link_to 'Yeni Domain Ekle', new_domain_path, :class => "btn btn-success" %></div>
    </div>
  </div>
<div class="col-md-3 col-md-offset-5" style="margin-top: 160px; width: 100px">
    <div class="btn btn-primary" style="width: 250px">
      <h5><strong>Toplam Domain Sayısı</strong> <span class="badge"><%= @domains.count %></span></h5>
    </div>
</div>