<div class="row" >
  <div class="container">
    <%= image_tag "big-logo.png", class:'main-logo center-block' %>
  </div>
</div>
<%= form_tag search_domains_path, method: :get, role: "search" do %>
<div class="row">
  <div class=" col-sm-6 col-sm-offset-3 ">
      <div class="form-group">
        <%= text_field_tag :search, params[:search], :placeholder => t('search_with_domain_name'), class: "form-control input-md" %>
  	  </div>
    <div class="row index-buttons">
      <div class="pull-left">  
        <%= link_to  t('new_domain'), new_domain_path %>
      </div>
      <div class="pull-right">
         <%= button_tag(type:"submit",class:"btn btn-default") do  %>
            <%= t('search')%>
         <% end%>
      </div>
    </div>
  </div>
</div>

<% end %>
<div class="row">
    <div class="col-sm-4 col-sm-offset-5 col-xs-5 col-xm-offset-5">
      <h1 class=" text-info center-block"> <%= @domains_count %> <small><%= t'total_domain' %></small></h1>
    </div>
</div>
