<div class="container" >
	<div  class="row "> 
		<div class="col-md-12">
			<%= form_for [@domain, @record] , html: {class: 'form-inline' } do |f| %>

				<div class="form-group">
					<%= f.label :domain_id ,type:'label', class: 'sr-only' %>
					<%= f.text_field :domain_id, type:'input', class:'form-control input-sm', :placeholder => t('domain_name')%>
				</div>
				<div class="form-group">
					<%= f.label :name ,type:'label', class:'sr-only' %>
					<%= f.text_field :name , class:'form-control input-sm', :placeholder => t('record_name')%>
				</div>
				<div class="form-group">
					<%= f.label :rtype ,type:'label', class:'sr-only'%>
					<%=  f.select :rtype , options_for_select(@domain.records.rtypes.collect{|r| [r[0].humanize,r[0]]},selected: @record.rtype),{}, class:'form-control input-sm rtype',id:'record_type' %>
				</div>
				<div class="form-group">
					<%= f.label :content ,type:'label', class:'sr-only' %>
					<%= f.text_field :content ,type:'input', class:'form-control input-sm', :placeholder => t('content')%>
				</div>
				<div class="form-group">
				<%= f.label :ttl, type:'label', class:'sr-only' %>
					<%= f.text_field :ttl ,type:'input', class:'form-control input-sm', :placeholder => t('ttl')%>
				</div>
				<%#- if %>
				<div class="form-group tog">
					<%= f.label :prio , type:'label', class:'sr-only' %>
					<%= f.text_field :prio , type:'input', class:'form-control input-sm prio hidden',id:'prio', :placeholder => t('prio')%>
				</div>
				<div class="form-group">
					<%= f.submit t('add'), class:'btn btn-info input-sm button' %>
				</div>
				
			<% end %>
		</div> 
		<hr>
		<div class="row">
			<div class="col-lg-8 col-offset-lg-2">
			<%- if @record.errors.any?%>
				<%@record.errors.full_messages.each do |m|%>
					<div class="alert alert-danger">
					  	<strong><%=t('warning')%></strong><%= m %>
					</div>
				<%end%>
			<%end%>
			</div>
		</div>
	</div>
</div>
