<div class="container">
	<div class="row new_dom">
		<div class="col-sm-6 col-sm-offset-3">
			<h3 class="text-center"><%= t 'new_domain' %></h3>
			<%= form_for Domain.new do |f| %>
			<div class="input-group">
			   <%= f.text_field :name, type:"text", :placeholder => t('add_your_domain_name'), id:"dname", class: "form-control input-md"  %>
			   <span class="input-group-btn">
			       <%= f.submit t(:add), class:"btn btn-default", id:"button" %>
			   </span>
			<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11 col-md-offset-3">
			<div><i class="fa fa-arrow-left" aria-hidden="true"></i>  <%= link_to t('back'), root_path %></div>
		</div>
	</div>
	<div class="add-record"> 
		<div class="row domain" >
			<div class="domain-name" id="domain-name">
				<div class="col-md-12 col-md-offset-0">
					<%- if @domain.errors.any?%>
							<%@domain.errors.full_messages.each do |m|%>
								<div class="alert alert-danger">
								  <strong><%=t('warning')%></strong><%= m %>
								</div>
							<%end%>
					<%end%>
					<span ><h3 ><small><%= t('last_domain')%></small>  <%=link_to @domain.name, @domain %></h3></span> 	
				</div>
			</div>
		</div>
	</div>
</div>


