<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3 class="text-center"><%= t 'new_domain' %></h3>
			<%= form_for @domain do |f| %>
			<div class="input-group">
			   <%= f.text_field :name,type:"text",:placeholder => t('add_your_domain_name'),id:"dname", class: "form-control input-md"  %>
			   <span class="input-group-btn">
			       <%= f.submit t(:add),  class:"btn btn-default",id:"button",onclick:"" %>
			   </span>
			<% end %>
			</div>
		</div>
	</div>
	<br><br><br>
	<div class="add-record"> 
		<div class="row domain" >
			<div class="domain-name" id="domain-name">
				<div class="col-md-8 col-md-offset-2">
					<span ><h3 ><%=link_to @domainn.name, @domainn %></h3></span> 	
				</div>
			</div>
		</div>
		<br>
		<div class="row record-form" >
			<div class="form" id="form">
				<div class="col-md-11 col-md-offset-1">
					<%= render 'records/form' %>
				</div>
			</div>
		</div>
	</div>
</div>


