<div class="row">
   <div class="col-md-8 col-md-offset-2">
    <h3><%=  t('search_results') %></h3>
    <div>
      <i class="fa fa-home" aria-hidden="true"></i>  <%= link_to t('homepage'), root_path %>
    </div>
    <%- if @domains.exists?%>
    <div class="table">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th><div class="pull-left dom-count"><%=@domains.count%></div> <div><%= t('domain_name') %></div> </th>
              <th><%= t 'number_of_record' %></th>
            </tr>
          </thead>
        <% @domains.each do |domain| %>
          <tbody>
            <tr>
              <td><%=link_to  domain.name,domain_path(domain)  %></td>
              <td><%= domain.records.count %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <%else%>
    <div class=" ">
      <div class="alert alert-danger">
        <h4 class="text-center"><strong><%= t('warning') %> </strong><%= t('blank') %></h4>
      </div>
    </div>
    <%end%>
  </div>
</div>