<!DOCTYPE html>
<html>
  <head>
    <title>GdnsdRails</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= render "layouts/navbr" %>
	  <div class="container">
    <div class="row flash">
         <%= render "layouts/flash" %>
    </div>
	   		<%= yield %>
	  </div>
  </body>
</html>
